<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="LogAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Threshold" value="INFO"/>
        <param name="File" value="${catalina.base}/logs/quest.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} | %-5p | %C{1}.%M[%L] %x | %m%n"/>
        </layout>
    </appender>

    <appender name="LogAppenderForTrace" class="org.apache.log4j.DailyRollingFileAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="File" value="${catalina.base}/logs/quest-debug.log"/>
        <param name="Append" value="true"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} | %-5p | (%t) %C{1}.%M[%L] %x | %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="INFO"/>
    </logger>

    <logger name="org.hibernate">
        <level value="INFO"/>
    </logger>

    <logger name="org.apache.commons">
        <level value="INFO"/>
    </logger>

    <logger name="org.apache.cxf">
        <level value="INFO"/>
    </logger>

    <logger name="ma.glasnost.orika">
        <level value="INFO"/>
    </logger>

    <logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.hibernate.type">
        <level value="TRACE"/>
    </logger>

    <root>
        <appender-ref ref="LogAppender"/>
        <appender-ref ref="LogAppenderForTrace"/>
    </root>

</log4j:configuration>
